<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hnust"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

   <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.app.hnust_qa.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.app.hnust_qa.MainActivity">

        </activity>

        <activity
            android:name="com.example.app.hnust_qa.QuestionDetail"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />

        <activity
            android:name="com.example.app.hnust_qa.QuestionDetail2"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />

        <activity
            android:name="com.example.app.hnust_qa.AskQestionActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.example.app.hnust_qa.DiscussActivity" />

        <activity android:name="com.example.app.hnust_qa.AddAnwserActivity"/>

    </application>

</manifest>
