<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <listener>
    <listener-class>cn.com.renrenConfig.ApiInitListener</listener-class>
  </listener>
  <filter>
    <filter-name>char</filter-name>
    <filter-class>cn.com.flters.CharSetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>char</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.com.servlets.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AskQuestionServlet</servlet-name>
    <servlet-class>cn.com.servlets.question.AskQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllTagsInfoServlet</servlet-name>
    <servlet-class>cn.com.servlets.tags.GetAllTagsInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetHotAnswerServlet</servlet-name>
    <servlet-class>cn.com.servlets.answer.GetHotAnswersInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCountOfTagsServlet</servlet-name>
    <servlet-class>cn.com.servlets.tags.GetCountOfTagsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTagInfoServlet</servlet-name>
    <servlet-class>cn.com.servlets.tags.AddTagInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAnswerInfoServlet</servlet-name>
    <servlet-class>cn.com.servlets.answer.AddAnswerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DleteAnswerServlet</servlet-name>
    <servlet-class>cn.com.servlets.answer.DleteAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.com.servlets.index.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisscussQuestionServlet</servlet-name>
    <servlet-class>cn.com.servlets.index.DisscussQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetHotQuestionsServlet</servlet-name>
    <servlet-class>cn.com.servlets.question.GetHotQuestionsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDetilQuestion</servlet-name>
    <servlet-class>cn.com.servlets.question.GetDetilQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.com.servlets.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogOffServlet</servlet-name>
    <servlet-class>cn.com.servlets.user.UserLogOffServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>cn.com.servlets.user.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogoUploadServlet</servlet-name>
    <servlet-class>cn.com.servlets.user.UserLogoUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPersionInfoServlet</servlet-name>
    <servlet-class>cn.com.servlets.user.GetPersionInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisscussPerson</servlet-name>
    <servlet-class>cn.com.servlets.user.DiscussPerson</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchQuestionServlet</servlet-name>
    <servlet-class>cn.com.servlets.question.SearchQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthImg</servlet-name>
    <servlet-class>cn.com.servlets.user.AuthImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTagsInfoServlet</servlet-name>
    <url-pattern>/getAllTagsInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetHotAnswerServlet</servlet-name>
    <url-pattern>/getHotAnswersInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCountOfTagsServlet</servlet-name>
    <url-pattern>/getCountOfTags</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTagInfoServlet</servlet-name>
    <url-pattern>/addTagInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAnswerInfoServlet</servlet-name>
    <url-pattern>/addAnswerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DleteAnswerServlet</servlet-name>
    <url-pattern>/deleteAnswer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AskQuestionServlet</servlet-name>
    <url-pattern>/askQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisscussQuestionServlet</servlet-name>
    <url-pattern>/disscussQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetHotQuestionsServlet</servlet-name>
    <url-pattern>/getHotQuestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDetilQuestion</servlet-name>
    <url-pattern>/getDetilQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogOffServlet</servlet-name>
    <url-pattern>/userLogOffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/updatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogoUploadServlet</servlet-name>
    <url-pattern>/userLogoUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPersionInfoServlet</servlet-name>
    <url-pattern>/GetPersionInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisscussPerson</servlet-name>
    <url-pattern>/disscussPerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchQuestionServlet</servlet-name>
    <url-pattern>/searchQuestion</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddDiscussServlet</display-name>
    <servlet-name>AddDiscussServlet</servlet-name>
    <servlet-class>cn.com.servlets.discuss.AddDiscussServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiscussServlet</servlet-name>
    <url-pattern>/AddDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getListDiscussServlet</display-name>
    <servlet-name>getListDiscussServlet</servlet-name>
    <servlet-class>cn.com.servlets.discuss.getListDiscussServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getListDiscussServlet</servlet-name>
    <url-pattern>/getListDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthImg</servlet-name>
    <url-pattern>/authImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserPassword</display-name>
    <servlet-name>GetUserPassword</servlet-name>
    <servlet-class>cn.com.servlets.user.GetUserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserPassword</servlet-name>
    <url-pattern>/getPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RenrenLoginServlet</servlet-name>
    <servlet-class>cn.com.servlets.user.RenrenLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenrenLoginServlet</servlet-name>
    <url-pattern>/rr_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QQlogin</servlet-name>
    <servlet-class>cn.com.servlets.user.QQIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QQlogin</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>afterlogin</servlet-name>
    <servlet-class>cn.com.servlets.user.QQLoginRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afterlogin</servlet-name>
    <url-pattern>/afterlogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>praise</servlet-name>
    <servlet-class>cn.com.servlets.rest.Praise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praise</servlet-name>
    <url-pattern>/praise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>praises</servlet-name>
    <servlet-class>cn.com.servlets.rest.Praises</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praises</servlet-name>
    <url-pattern>/praises</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tread</servlet-name>
    <servlet-class>cn.com.servlets.rest.Tread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tread</servlet-name>
    <url-pattern>/tread</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>praisesas</servlet-name>
    <servlet-class>cn.com.servlets.rest.PraisesAS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praisesas</servlet-name>
    <url-pattern>/praisesas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>praiseas</servlet-name>
    <servlet-class>cn.com.servlets.rest.PraiseAS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>praiseas</servlet-name>
    <url-pattern>/praiseas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>treadas</servlet-name>
    <servlet-class>cn.com.servlets.rest.TreadAS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>treadas</servlet-name>
    <url-pattern>/treadas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Basicinfo</servlet-name>
    <servlet-class>cn.com.servlets.user.BasicUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Basicinfo</servlet-name>
    <url-pattern>/basic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>follow</servlet-name>
    <servlet-class>cn.com.servlets.rest.Follow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>follow</servlet-name>
    <url-pattern>/follow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unfollow</servlet-name>
    <servlet-class>cn.com.servlets.rest.Unfollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unfollow</servlet-name>
    <url-pattern>/unfollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>followings</servlet-name>
    <servlet-class>cn.com.servlets.rest.Following</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>followings</servlet-name>
    <url-pattern>/followings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>followers</servlet-name>
    <servlet-class>cn.com.servlets.rest.Follower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>followers</servlet-name>
    <url-pattern>/followers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>follows</servlet-name>
    <servlet-class>cn.com.servlets.rest.Follows</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>follows</servlet-name>
    <url-pattern>/follows</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>star</servlet-name>
    <servlet-class>cn.com.servlets.rest.Star</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>star</servlet-name>
    <url-pattern>/star</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>havestar</servlet-name>
    <servlet-class>cn.com.servlets.rest.Havestar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>havestar</servlet-name>
    <url-pattern>/havestar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unstar</servlet-name>
    <servlet-class>cn.com.servlets.rest.Unstar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unstar</servlet-name>
    <url-pattern>/unstar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stars</servlet-name>
    <servlet-class>cn.com.servlets.rest.Stars</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stars</servlet-name>
    <url-pattern>/stars</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stared</servlet-name>
    <servlet-class>cn.com.servlets.rest.Stared</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stared</servlet-name>
    <url-pattern>/stared</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prefollow</servlet-name>
    <servlet-class>cn.com.servlets.rest.Prefollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prefollow</servlet-name>
    <url-pattern>/prefollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prestar</servlet-name>
    <servlet-class>cn.com.servlets.rest.Prestar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prestar</servlet-name>
    <url-pattern>/prestar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prepraise</servlet-name>
    <servlet-class>cn.com.servlets.rest.Prepraise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prepraise</servlet-name>
    <url-pattern>/prepraise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prepraiseas</servlet-name>
    <servlet-class>cn.com.servlets.rest.Preprepraise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prepraiseas</servlet-name>
    <url-pattern>/prepraiseas</url-pattern>
  </servlet-mapping>
  <!-- 初始化分类页面 -->
  <servlet>
    <description></description>
    <display-name>InitCategoriesServlet</display-name>
    <servlet-name>InitCategoriesServlet</servlet-name>
    <servlet-class>cn.com.servlets.index.InitCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitCategoriesServlet</servlet-name>
    <url-pattern>/InitCategoriesServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 根据问题分类得到问题信息 -->
  <servlet>
    <description></description>
    <display-name>GetQuestionsByCategoriesServlet</display-name>
    <servlet-name>GetQuestionsByCategoriesServlet</servlet-name>
    <servlet-class>cn.com.servlets.question.GetQuestionsByCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionsByCategoriesServlet</servlet-name>
    <url-pattern>/getQuestionsByCategoriesServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 根据标签分类得到问题信息 -->
  <servlet>
    <description></description>
    <display-name>GetQuestionsByTagCategoriesServlet</display-name>
    <servlet-name>GetQuestionsByTagCategoriesServlet</servlet-name>
    <servlet-class>cn.com.servlets.question.GetQuestionsByTagCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionsByTagCategoriesServlet</servlet-name>
    <url-pattern>/getQuestionsByTagCategoriesServlet</url-pattern>
  </servlet-mapping>
  
  <!-- accept the question -->
  <servlet>
    <description></description>
    <servlet-name>accept</servlet-name>
    <servlet-class>cn.com.servlets.rest.Accept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accept</servlet-name>
    <url-pattern>/accept</url-pattern>
  </servlet-mapping>
  
  <!-- messages -->
  <servlet>
    <description></description>
    <servlet-name>messages</servlet-name>
    <servlet-class>cn.com.servlets.mq.Messages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messages</servlet-name>
    <url-pattern>/messages</url-pattern>
  </servlet-mapping>
   
    <!-- get message -->
  <servlet>
    <description></description>
    <servlet-name>message</servlet-name>
    <servlet-class>cn.com.servlets.mq.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/getMessage</url-pattern>
  </servlet-mapping>
  
</web-app>